<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="main">
      <header>
        <h2>Monday Times</h2>
      </header>

      <nav>
        <ul>
          <li><a href="#">News</a></li>
          <li><a href="#">Sports</a></li>
          <li><a href="#">Weather</a></li>
        </ul>
      </nav>

      <section>
        <h2>News Section</h2>
        <article>
          <h3>News Article</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Pellentesque in porta lorem. Morbi condimentum est nibh, et
            consectetur tortor feugiat at. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Pellentesque in porta lorem. Morbi
            condimentum est nibh, et consectetur tortor feugiat at.
          </p>
        </article>

        <article>
          <h3>News Article</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Pellentesque in porta lorem. Morbi condimentum est nibh, et
            consectetur tortor feugiat at. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Pellentesque in porta lorem. Morbi
            condimentum est nibh, et consectetur tortor feugiat at.
          </p>
        </article>

        <!-- <article></article> -->
      </section>

      <footer>
        <p>© 2014 Monday Times. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
