<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./main.css" />
  </head>
  <body>
    <div class="main">
      <div class="header">
        <ul>
          <li><a href="">Logo</a></li>
          <li>
            Home
            <ul>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </li>
          <li><a href="">About</a></li>
          <li><a href="">Project</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
      <div class="content">
        <div class="left"></div>

        <div class="center">
          <h3>Welcome</h3>
          <p>asdasduhhhhhaaadaushduiashasbfhabfaa</p>
        </div>
        <div class="right">
          <div class="adb">ADB</div>
        </div>
      </div>

      <div class="footer">Footer text</div>

      <video src="">link</video>
    </div>
  </body>
</html>
